{% extends 'blocks/base.html' %}
{% load static %} 

{% block content %}
<section class="lenta">
POST

<div class="postText">
    <div class="postTextTitle">
      <span>{{ post.title }}</span>
      <img src="{% static 'img/more.svg' %}" alt="more" />
    </div>
    <div class="postTextContent">
      <div class="postTextContentAvatar">
        <img src="{% static 'img/Photo.jpg' %}" alt="Photo" />
        <div class="postTextContentAvatarText">
          <p>{{post.user}}</p>
          <span>iOS developer</span>
        </div>
      </div>
      <span class="postTextContentData"> {{ post.content }} </span>

            <!-- ХАРДКОД! -->
      {%if post.image %}
      <img
        class="postTextContentImage"
        src="{% static 'img/capl.jpg' %}"
        alt="capl"
      />
      {% endif %}

      <a href="{{ post.get_absolute_url }}"><p>read more</p></a>
      <div class="postTextInteraction">
        <div class="postTextInteractionMain">
          <div class="postTextInteractionLike">
            <img src="{% static 'img/like.svg' %}" alt="like" /> {{ post.like }}
          </div>
          <div class="postTextInteractionComment">
            <img src="{% static 'img/comment.svg' %}" alt="comment" /> 9
          </div>
        </div>
        <img
          class="postTextInteractionComment imgComment"
          src="{% static 'img/share.svg' %}"
          alt="share"
        />
      </div>
    </div>
    <a href="{% url 'post_share' post.id %}">отправить пост по E-mail</a>
    <hr>
    {% with comments.count as total_comments %}
    <h2>{{total_comments}} comment{{total_comments|pluralize}}</h2>
    {% endwith %}
    <hr>
    {% for comment in comments %}
      <div class="comment">
        <p>comment {{ forloop.counter }} by {{ comment.name }} {{ comment.created }}</p>
        {{ comment.content }}
        <hr>
      </div>
      {% empty %}
      <p>there are no comments yet.</p>
    {% endfor %}
    <hr>
    {% if new_comment %}
    <h2>your comment has been added.</h2>
    {% else %}
    <h2>add a new comment</h2>
    <form action="." method='post'>
      {{ comment_form.as_p}}
      {% csrf_token %}
      <p><input type="submit" value="add comment"></p>
    </form>
    {% endif %}
  </div>

  </section>
{% endblock content %}