{% extends 'blocks/base.html' %}
{% load static %} 

{% block content %}
<section class="lenta">
POST

<div class="postText">
    <div class="postTextTitle">
      <span>{{ post.title }}</span>
      <img src="{% static 'img/more.svg' %}" alt="more" />
    </div>
    <div class="postTextContent">
      <div class="postTextContentAvatar">
        <img src="{% static 'img/Photo.jpg' %}" alt="Photo" />
        <div class="postTextContentAvatarText">
          <p>{{post.user}}</p>
          <span>iOS developer</span>
        </div>
      </div>
      <span class="postTextContentData"> {{ post.content }} </span>

            <!-- ХАРДКОД! -->
      {%if post.image %}
      <img
        class="postTextContentImage"
        src="{% static 'img/capl.jpg' %}"
        alt="capl"
      />
      {% endif %}

      <a href="{{ post.get_absolute_url }}"><p>read more</p></a>
      <div class="postTextInteraction">
        <div class="postTextInteractionMain">
          <div class="postTextInteractionLike">
            <img src="{% static 'img/like.svg' %}" alt="like" /> {{ post.like }}
          </div>
          <div class="postTextInteractionComment">
            <img src="{% static 'img/comment.svg' %}" alt="comment" /> 9
          </div>
        </div>
        <img
          class="postTextInteractionComment imgComment"
          src="{% static 'img/share.svg' %}"
          alt="share"
        />
      </div>
    </div>
  </div>

  </section>
{% endblock content %}