{% load static %}
<menu>
	<div class="menuLogo">
	  <img class="menuLogoFon" src="{% static 'img/fon.jpg' %}" alt="fon" />
	  <img
		class="menuLogoAvatar"
		src="{% static 'img/Ellipse.png' %}"
		alt="avatar"
	  />
	  <h3>Dmitry Kargaev</h3>
	  <span
		>Freelance UX/UI designer, 80+ projects in web design, mobile apps
		(iOS & android) and creative projects. Open to offers.</span
	  >
	</div>
	<div class="menu-write">
	  <button>write new article</button>
	</div>

	<div class="menuMyGroups">
	  <div class="menuMyGroupsTitle">
		<h5>my groups</h5>
		<span>Edit list</span>
	  </div>
	  <div class="menuMyGroupsCards">
		<div class="menuMyGroupsCard">
		  <img src="{% static 'img/groups.jpg' %}" alt="group" />
		  <h6>Moscow State Linguistical University</h6>
		</div>
		<div class="menuMyGroupsCard">
		  <img src="{% static 'img/groups.jpg' %}" alt="group" />
		  <h6>Digital freelancers group</h6>
		</div>
		<div class="menuMyGroupsCard">
		  <img src="{% static 'img/groups.jpg' %}" alt="group" />
		  <h6>Interaction design association</h6>
		</div>
	  </div>
	  <p>Show all (8)</p>
	</div>

	<div class="menuHashtags">
	  <div class="menuHashtagsTitle">
		<span>Followed hashtags</span>
	  </div>
	  <div class="menuHashtagsItems">
		<div class="menuHashtagsItem">#work</div>
		<div class="menuHashtagsItem">#business</div>
		<div class="menuHashtagsItem">#hr</div>
		<div class="menuHashtagsItem">#userinterface</div>
		<div class="menuHashtagsItem">#digital</div>
		<div class="menuHashtagsItem">#userexperience</div>
		<div class="menuHashtagsItem">#ux</div>
		<div class="menuHashtagsItem">#ui</div>
		<div class="menuHashtagsItem">#freelance</div>
	  </div>
	</div>

	<div class="menuHashtags">
	  <div class="menuHashtagsTitle">
		<span>Trending articles</span>
	  </div>
	  <div class="menuArticlesItems">
		<div class="menuArticlesItem">
		  <img src="{% static 'img/article.jpg' %}" alt="article" />
		  <span>How I make cool designs?</span>
		</div>
		<div class="menuArticlesItem">
		  <img src="{% static 'img/article.jpg' %}" alt="article" />
		  <span>How I make cool designs?</span>
		</div>
		<div class="menuArticlesItem">
		  <img src="{% static 'img/article.jpg' %}" alt="article" />
		  <span>How I make cool designs?</span>
		</div>
	  </div>
	</div>
  </menu>